:root {
    --mainColor: #304ffe;
}

/* Start Hero */
.hero {
    background: url(../images/bg-hero.png) no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.subscribe::after,
.team::after,
.hero::after {
    content: '';
    background-color: var(--mainColor);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .6;
}
.subscribe .container,
.team .container,
.hero .container { z-index: 1; }

.hero-content {
    margin-top: 185px;
}
.hero .nav-link {
    color: #fff;
}
/* End Hero */

/* Start Intro */
.intro .heading-section {
    margin-bottom: 150px;
}
.row .box-intro h3 { color: var(--mainColor); }

.row .box-intro p { color: #5c6dc9; }
/* End Intro */

/* Start Feature */
.feature .row .col-md-6 img { height: 450px; }
/* End Feature */

/* Start Team */
.team {
    background-image: url(../images/bg-team.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 100px 0;
    margin: 200px 0;
}
.team .media img {
    width: 200px;
    height: 200px;
}
/* End Team */

/* Srart Price */
.price .row h2 {
    font-size: 70px;
}
.news .btn,
.price .box-text .btn {
    padding: 12px 50px;
    border: 1px solid #e3e3e3;
    color: #666666;
    font-weight: bold;
    text-transform: uppercase;
}
/* End Price */

/* Start Subscribe */
.subscribe {
    background-image: url(../images/bg-subscribe.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding-bottom: 250px;
}
.subscribe .heading-section::before {
    content: '';
    height: 2px;
    width: 100px;
    background-color: #fff;
    position: absolute;
    right: 45%;
    top: 18%;
}
.subscribe .form-group input {
    padding: 30px 160px;
}
/* End Subscribe */

/* Start Testimonials */
.testimonials .carousel-item img {
    width: 120px;
    height: 120px;
    margin: auto;
}
.testimonials .carousel-item .carousel-caption {
    color: #000;
    position: static;
}
.testimonials .carousel-inner {
    margin-top: -200px;
    background-color: #fff;
}
.testimonials .carousel-indicators {
    color: #000;
}
.testimonials .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}
   
.testimonials .carousel-control-next-icon {
     background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}
.carousel-indicators .active{
    background-color: var(--mainColor);
}
.carousel-indicators li{
    background-color: #e3e3e3;
}
/* End Testimonials */

/* Start Footer */
.footer {
    background-color: #ececec;
    padding-top: 100px;
}
.fa-linkedin,
.fa-youtube,
.fa-twitter-square,
.fa-instagram,
.fa-facebook-square { color: #000; }

.footer .social-links a {text-decoration: none;}
/* End Footer */